
	body {
		font-family: 'Raleway', 'sans empattement', sans-serif ;
		font-size: 12px;
		align-content: center;
		align-items: center;
		padding: 10%;
	}
	
	header {
		clear: both;
	}
	#enteted {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		width: 25%;
	}
	#logo {
		width: 30%;
		height: 30%;
	}
	#entete {
		display: flex;
		justify-content: space-between;


	}
	a#enteted {
		border-top: 4% solid rgb(163, 160, 160);
	}
	a:hover {
		color: #0065fc;
	}
	#enteted a:focus {
		padding-top: 30px;
		color: #0065fc;
		border-top: 3px solid #0065fc;



	}
	/*Logo localisation*/
	label {
		display: flex;
		background-color: #0065fc;
		font-weight: bold;
		color: white;
		border: 1px solid rgb(193, 198, 200);
		border-radius: 0 1rem 1rem 0;
		padding: 1rem;
		text-align: center;
		font-size: 1rem;
		cursor: pointer;
		align-content: center;
	}
	/*Localisation+Label+zone de texte*/
	#localisation {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background-color: rgb(214, 211, 211);
		color: black;
		font-size: 25px;
		width: 30px;
		text-align: center;
		padding-top: 0.7rem;
	}
	input{
		border: 1px solid  rgb(214, 211, 211);;
	}
	#recherche {

		margin-bottom: 15px;
		display: flex;
	}
	/*icone de plus de 500 logements*/
	#information {
		display: flex;
		align-items: center;

	}
	/*ligne de filtre*/
	#filtre {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	.fi {
		font-weight: bold;
		padding-top: 10px;
		font-size: 20px;


	}
	/*image icone*/
	.icone {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		border: none;
		font-size: 1rem;
		border-radius: 30px;
		margin: 0px 10px;
		align-items: center;

	}
	.motif {
		background-color: #b5d0f8;
		border-radius: 100%;
		padding: 15px;
		margin-left: -11px;
		margin-bottom: 6px;
		color: #0065fc;
	}
	.etoile {
		display: flex;
	}
	.etoile_bleue {
		color: #0065fc;
	}
	.etoile_grise {
		color: rgb(170, 172, 172);
	}
	/*icone et nom de filtre*/
	.fil {
		border: 1px solid rgb(193, 198, 200);
		display: flex;
		font-weight: bold;
		border-radius: 3rem;
		height: 2.8rem;
		margin: 6px;
	
	}
	#info {
		border: 1px solid rgb(193, 198, 200);
		border-radius: 100%;
		padding: 5px;
		padding-left: 6px;
		padding-right: 6px;
		margin-left: -10px;
		color: #0065fc;
		margin-right: 10px;
	}
	h1 {
		font-family: 'Satisfy', cursive;
		color: #0065fc;
	}
	/*bloc hébergement, les plus populaires, activité*/
	section {
		display: flex;
		justify-content: space-between;
		border-radius: 10px 10px 10px 10px;
		margin-bottom: 10px;
		margin-top: 10px;


	}
	img {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	/*bloc les plus populaires*/
	#populaire {
		background-color: #f2f2f2;
		border-radius: 10px 10px 10px 10px;
		padding: 15px 15px 15px 15px;
		font-size: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}
	/*Le nom de tout les hotel*/
	.nomhotel {
		padding-left: 5px;
		font-weight: bold;
	}
	/*image des hotel les plus populaires*/
	.imagepop {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0px;
		height: 2.5cm;
		width: 2cm;
	}
	/*bloc des hebergements*/
	#hebergement {
		display: flex;
		background-color: #f2f2f2;
		justify-content: space-around;
		border-radius: 10px 10px 10px 10px;
		padding: 15px 15px 15px 15px;
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		flex-direction: column;
	}
	/*Image du bloc hebergement*/
	.imageHebe {
		width: 110%;
		height: 50%;
	}
	/*regroupement des photos par deux du bloc activité*/
	.photo2 {
		display: flex;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		justify-content: space-around;
	}
	.photo {
		box-shadow: 0px 4px 0.7px rgb(203, 200, 200);
		border-radius: 6px;
		margin-top: 2px;
		margin-bottom: 6px;
	}
	/*bloc d image de la zone activité(bloc d une image)*/
	.heb {
		background-color: white;
		border-radius: 10px 10px 10px 10px;
		padding: 0.5%;
		margin-bottom: 0.5%;
		margin-left: 0.5%;
		padding-right: 3%;
	}
	.titre_hebergements {
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	.pop {
		display: flex;
		background-color: white;
		border-radius: 10px;
		padding: 3px;
		margin-bottom: 4px;
		justify-content: space-between;
		padding-right: 6px;

	}
	#nom_etoile {
		display: flex;
		flex-direction: column;
	}
	#activite {
		display: flex;
		justify-content: space-between;
		border-radius: 10px 10px 10px 10px;
		padding: 15px 15px 15px 15px;
		max-width: 100%;
	}
	.photo3 {
		display: flex;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		flex-direction: column;
	}
	#conteneur {
		background-color: #f2f2f2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100px;
		clear: both;
		margin-top: 30px;

	}
	a {
		text-decoration: none;
		color: black;

	}
	
	@media screen and (max-width: 900px) {
	
		#entete {
			display: flex;
			flex-direction: column;
		}

		#enteted {
			margin-top: 6px;
			font-weight: bold;
			font-size: 1.4rem;
		}

		label {
			display: flex;
			background-color: #0065fc;
			font-weight: bold;
			color: white;
			border: 1px solid rgb(193, 198, 200);
			border-radius: 0 1rem 1rem 0;
			padding: 0.5rem;
			padding-bottom: 0.3rem;
			font-family: 'Raleway', sans-serif;
			font-size: 0.8rem;
			cursor: pointer;
			height: 1rem;
			align-content: center;
		}

		#localisation {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			border: 2px solid rgb(214, 211, 211);
			background-color: rgb(214, 211, 211);
			color: black;
			font-size: 15px;
			width: 30px;
			padding: 0.5rem;
			padding-bottom: 0.3rem;
			align-items: baseline;
		}

		#recherche {
			margin-top: 15px;
			margin-bottom: 15px;
			display: flex;
		}

		#filtre {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		section {
			display: flex;
			flex-direction: column-reverse;
		}

		.photo2 {
			display: flex;
			flex-direction: column;
		}

		#activite {
			display: flex;
			flex-direction: column;

		}
	}